@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");

ul,
ol {
  list-style: none;
}

* {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: rgb(195, 204, 191);
}
